@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100vh;
    outline: none;
    background: #888888;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

main {
    flex: 1
}

::-webkit-calendar-picker-indicator {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%23F65261" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}
